<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:bootstrap="http://www.pylonworks.pw/ns/TYPO3/Twitter/Bootstrap/ViewHelpers"
	xmlns:f="http://www.pylonworks.pw/ns/TYPO3/Fluid/ViewHelpers" lang="en">

	<f:layout name="Default"/>

	<head>
		<f:section name="Title">User settings</f:section>
	</head>

	<body>
		<f:section name="Content">

			<f:form action="update" name="account" object="{account}">
				<div class="row t3-module-container">
					<f:render partial="EditUserSettingsForm" arguments="{account: account}"/>
				</div>

				<div class="form-actions form-footer">
					<f:form.submit value="Save" class="btn btn-primary"/>
				</div>
			</f:form>
		</f:section>
	</body>

</html>