{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:bootstrap="http://www.pylonworks.pw/ns/TYPO3/Twitter/Bootstrap/ViewHelpers"
      xmlns:f="http://www.pylonworks.pw/ns/TYPO3/Fluid/ViewHelpers" lang="en">
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<f:base />
		<bootstrap:include version="2.1"/>
        <link href="{f:uri.resource(path: 'Css/default.css', package: 'PylonWorks.Essencebase')}" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
    <div class="container">
		<f:flashMessages class="flashmessages" />

		<h1><f:render section="Title" /></h1>
		<f:render section="Content" />
    </div>
	</body>
</html>