<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:bootstrap="http://www.pylonworks.pw/ns/TYPO3/Twitter/Bootstrap/ViewHelpers"
      xmlns:f="http://www.pylonworks.pw/ns/TYPO3/Fluid/ViewHelpers" lang="en">
    <head>
        <f:layout name="Default" />
        <f:section name="Title">Dashboard</f:section>
    </head>
    <body>
        <f:section name="Content">
            <p>user identifyer: {account.accountIdentifier}</p>
        </f:section>
    </body>
</html>