<f:layout name="Default" />

<f:section name="Title">Edit project "{project.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{project}" name="project">
		<ol>
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="testPlan">Test plan</label>
				<f:form.textfield property="testPlan" id="testPlan" />
			</li>
		
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>